.container {
    width: 100%;
    height: 5rem;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu_icon {
            justify-content: center;
            margin: 1rem;
        }
    }
}