@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

//Video Game Font
// font-family: 'Press Start 2P', cursive;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


// @font-face {
//     font-family: 'Press Start 2P';
//     src: url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
// }

.container{
    //font-family: 'Secular One', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    margin-top: 3rem;
    //height: 40rem;
    position: absolute;
}

.title_container {
    font-family: inherit;
    margin: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        p {
            font-family: inherit;
            margin: .5rem;
            font-size: 28px;
            color: rgb(255, 96, 96);
        }
    }
}


.button_container {
    margin: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .button_stack {
        margin-top: 8rem;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            width: 100%;
        }

        .button {
            font-family: inherit;
            font-size: 15px;
            color: black;
            background-color: rgb(255, 255, 255);
            width: 100%;
        }
    }
}

.child {
    
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

.child, .child_2 li:nth-child(n) {
    font-size: 30px;
}
.child li:nth-child(1):before {
    content: "J";
    color: red;
}

.child li:nth-child(2):before {
    content: "a";
    color: blue;
}
.child li:nth-child(3):before {
    content: "v";
    color: green;
}
.child li:nth-child(4):before {
    content: "a";
    color: yellow;
}
.child li:nth-child(5):before {
    content: "s";
    color: white;
}
.child li:nth-child(6):before {
    content: "c";
    color: red;
}
.child li:nth-child(7):before {
    content: "r";
    color: green;
}
.child li:nth-child(8):before {
    content: "i";
    color: blue;
}
.child li:nth-child(9):before {
    content: "p";
    color: yellow;
}
.child li:nth-child(10):before {
    content: "t";
    color: red;
}

.child_2{

    ul{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.child_2 li:nth-child(1):before {
    content: "Q";
    color: black;
}

.child_2 li:nth-child(2):before {
    content: "u";
    color: black;
}
.child_2 li:nth-child(3):before {
    content: "i";
    color: black;
}
.child_2 li:nth-child(4):before {
    content: "z";
    color: b;
}