@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.container{
    font-family: 'Secular One', sans-serif;
    font-weight: 900;
    font-style: normal;
    width: 100%;
    margin-top: 3rem;
    //height: 40rem;
    position: absolute;

    .title_container {
        margin: 3rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            p {
                margin: .5rem;
                font-size: 25px;
                color: rgb(255, 96, 96);
            }
        }
    }

    .button_container {
        margin: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .button_stack {
            margin-top: 8rem;
            width: 50vw;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                width: 100%;
            }

            .button {
                font-family: inherit;
                font-size: small;
                color: black;
                background-color: rgb(255, 255, 255);
                width: 100%;
            }
        }
    }
}